*{
    font-size: 40px;
    box-sizing: border-box;
}
.play{
    margin:0px 10%;
    padding: 20px;
    /* border: 10px solid black; */
    min-height:700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pbtn{
    height: 100px;
    width: 100px;
    border-style: none;
    cursor: pointer;
    border-radius: 20%;
    margin: 20px;
}
#rbtn{
    background-image: url(images/therock.png);
    background-size: contain;
}
#pprbtn{
    background-image: url(images/paper.png);
    background-size: contain;
}
#scbtn{
    background-color: #fbf6f6;
    background-image: url(images/scissors.png);
    background-size:contain;
    background-repeat:no-repeat ;
    background-position: center;
}
h1{
    text-align: center;
}